@import "tailwindcss";
@plugin "daisyui";

* {
  background-color: white;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, sans-serif;
}

/* For self-hosted fonts */
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue"), local("HelveticaNeue"),
    url("/fonts/helvetica-neue.woff2") format("woff2");
}



/* Hero Heading */
.Hero_Heading {
  font-weight: 300;
  font-size: 96px;
  line-height: 82px;
  color: #000000;
}

/* Heading */
.Heading {
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  color: rgb(178, 141, 87);
}

/* Subheading */
.subheading {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}

/* Text */
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

/* Button */
.button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* Tablet (768px - 1024px) */
@media (max-width: 1024px) {
  .Hero_Heading {
    font-size: 72px;
    line-height: 68px;
  }

  .Heading {
    font-size: 32px;
    line-height: 40px;
  }

  .subheading {
    font-size: 40px;
    line-height: 50px;
  }

  .text {
    font-size: 14px;
    line-height: 20px;
  }

  .button {
    font-size: 14px;
    line-height: 18px;
  }
}

/* Mobile (up to 767px) */
@media (max-width: 767px) {
  .Hero_Heading {
    font-size: 48px;
    line-height: 52px;
  }

  .Heading {
    font-size: 28px;
    line-height: 36px;
  }

  .subheading {
    font-size: 32px;
    line-height: 42px;
  }

  .text {
    font-size: 14px;
    line-height: 18px;
  }

  .button {
    font-size: 14px;
    line-height: 18px;
  }
}
